{% extends 'head.html' %}
{% load static %}
{% block title_block %} Rakib's Blog Home {% endblock %}
{% block main_block %}
    <!-- section main content -->
	<section class="main-content mt-5">
		<div class="container-xl">

			<div class="row gy-4">

				<div class="col-lg-8">

                    <div class="row gy-4">
						{% for blog in page_obj %}
                        <div class="col-sm-6">
                            <!-- post -->
                            <div class="post post-grid rounded bordered">
                                <div class="thumb top-rounded">
                                    <a href="{{ category.get_absolute_url }}" class="category-badge position-absolute">{{ blog.category.name }}</a>
                                    <span class="post-format">
                                        <i class="icon-picture"></i>
                                    </span>
                                    <a href="{{ blog.get_absolute_url }}">
                                        <div class="inner">
                                            <img src="{{ blog.thumbnail.url }}" alt="post-title" />
                                        </div>
                                    </a>
                                </div>
                                <div class="details">
                                    <ul class="meta list-inline mb-0">
                                        <li class="list-inline-item">{{ blog.creation | timesince }}</li>
                                    </ul>
                                    <h5 class="post-title mb-3 mt-3"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h5>
                                    <p class="excerpt mb-0">{{ blog.short_discription }}</p>
                                </div>
                                <div class="post-bottom clearfix d-flex align-items-center">
                                    <div class="social-share me-auto">
                                        <button class="toggle-button icon-share"></button>
                                        <ul class="icons list-unstyled list-inline mb-0">
                                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="more-button float-end">
                                        <a href=""><span class="icon-options"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
						{% endfor %}
                    </div>

					<!-- pagination -->
					<nav>
						<ul class="pagination justify-content-center">


							{% load l10n %}           
							{% for blog in page_obj.paginator.page_range %}
							{% if page_obj.number == blog  %}
							<li class="page-item active" aria-current="page">
								<a href="?page={{ blog }}"><span class="page-link">{{ blog.localize }}</span></a>
							</li>
							{% else %}
							<li class="page-item"><a class="page-link" href="?page={{ blog }}">{{ blog }}</a></li>

							{% endif %}
							{% endfor %}

						</ul>
					</nav>

				</div>
				<div class="col-lg-4">

					<!-- sidebar -->
					<div class="sidebar">
						<!-- widget about -->
						<div class="widget rounded">
							<div class="widget-about data-bg-image text-center" data-bg-image="{% static 'blog/images/map-bg.png' %}">
								<img src="{% static 'blog/images/logo.svg' %}" alt="logo" class="mb-4" />
								<p class="mb-4">Hello, We’re content writer who is fascinated by content fashion, celebrity and lifestyle. We helps clients bring the right content to the right people.</p>
								<ul class="social-icons list-unstyled list-inline mb-0">
									<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-medium"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
								</ul>
							</div>
						</div>

						

						<!-- widget categories -->
						<div class="widget rounded">
							<div class="widget-header text-center">
								<h3 class="widget-title">Blog Categories</h3>
								<img src="{% static 'blog/images/wave.svg' %}" class="wave" alt="wave" />
							</div>
							<div class="widget-content">
								<ul class="list">
									
									{% for category in categories %}
	
									<li><a href="{{ category.get_absolute_url }}">{{ category.name}}</a></li>
									{% endfor %}
								</ul>
							</div>
							
						</div>


						<!-- widget popular posts -->
						<div class="widget rounded">
							<div class="widget-header text-center">
								<h3 class="widget-title">Recent Posts</h3>
								<img src="{% static 'blog/images/wave.svg' %}" class="wave" alt="wave" />
							</div>

							
							{% for blog in latest_blog %}
							<div class="widget-content">
								<!-- post -->
								<div class="post post-list-sm circle">
									<div class="thumb circle">
										<span class="number">1</span>
										<a href="blog-single.html">
											<div class="inner">
												<img src="{{ blog.thumbnail.url }}" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details clearfix">
										<h6 class="post-title my-0"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">{{ blog.creation | date}}</li>
										</ul>
									</div>
								</div>
							</div>
							{% endfor %}		
						</div>


					</div>

				</div>

			</div>

		</div>
	</section>
{% endblock %}
